body {
  background-color: #1d0909;
  width: 1280px;
  margin: 0 auto;
}

.wrapper {
  display: flex;
}

.text-area {
  width: 100%;
  height: 100%;
  border: 1px solid #ccc;
  margin: 20px 0 20px 0;
  font-family: 'Courier New', Courier, monospace;
  font-size: 12px;
  line-height: 1.5em;
  color: #333;
  background-color: #fff;
  overflow: auto;
}

.keyboard {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-self: center;
  gap: 10px;
  width: 100%;
  height: 100%;
  border: 1px solid #ccc;
  padding: 10px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 12px;
  line-height: 1.5em;
  color: rgb(2, 0, 0);
  background-color: #fff;
}

.key {
  width: 6.5%;
  height: 10%;
  border: 1px solid #ccc;
  padding: 5px;
  font-size: 20px;
  line-height: 1.5em;
  color: rgb(6, 2, 2);
  background-color: rgb(165, 152, 152);
}

.left-pad-button {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-self: center;
  gap: 20px;
  width: 10%;
  height: 100%;
  border: 1px solid #ccc;
  font-size: 12px;
  line-height: 1.5em;
  color: rgb(2, 0, 0);
  background-color: #fff;
}

.left-pad {
  width: 100%;
  height: 10%;
  border: 1px solid #ccc;
  padding: 5px;
  font-size: 20px;
  line-height: 1.5em;
  color: rgb(6, 2, 2);
  background-color: rgb(165, 152, 152);
  gap: 10px;
}

.right-pad-button {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-self: center;
  gap: 20px;
  width: 10%;
  height: 100%;
  border: 1px solid #ccc;
  font-size: 12px;
  line-height: 1.5em;
  color: rgb(2, 0, 0);
  background-color: #fff;
}

.right-pad {
  width: 100%;
  height: 10%;
  border: 1px solid #ccc;
  padding: 5px;
  font-size: 20px;
  line-height: 1.5em;
  color: rgb(6, 2, 2);
  background-color: rgb(165, 152, 152);
  gap: 10px;
}

.bottom-pad-button {
  display: flex;
  justify-content: center;
  align-self: center;
}

.bottom-pad {
  height: 10%;
  border: 1px solid #ccc;
  font-size: 20px;
  line-height: 1.5em;
  color: rgb(6, 2, 2);
  background-color: rgb(165, 152, 152);
}

[data='Space'] {
  width: 100%;
  background-color: rgb(133, 1, 1);
}

.key-down {
  background-color: rgb(43, 1, 133);
}

/* .ru {
    width: 6.5%;
    height: 10%;
    border: 1px solid #ccc;
    padding: 5px;
    font-size: 20px;
    line-height: 1.5em;
    color: rgb(6, 2, 2);
    background-color: rgb(165, 152, 152);
} */
